


<div class="container contact-form bg-light min-vh-90 ">
	<div class="contact-image">
	</div>
	<form method="post" class="text-center  text-success">
		<h3>
			
		</h3>
		<h1 class="bi bi-check2-circle ">@ViewBag.CheckoutCompleteMessage</h1>
		<div class="row">
		</div>
	</form>
</div>