@model BooksListViewModel



<div class="album py-5 bg-light">
    <div class="container">
        <h1>Books</h1>
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 g-3">
            

            @foreach (var book in Model.Books)
            {
                <partial name="_BookCard" model="book" />
            }
        </div>

    </div>
</div>